.cabecalho{
    background: url(imagens/mar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 100px;
    color: white;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 1;
    }
.subtitulo{
    
    border-top:solid hsl(0, 0%, 100%) 2px;
}
.botao{
        border: solid white 3px;
        width: 80px;
        height: 40px;
        padding-top: 8px;
        margin: auto;
               
    }
.botao:hover{
    background-color: white;
    color: blue;
}
.texto{
    color: rgb(0, 0, 0);
    margin: 1%
    
}
#video{
    float: left;
    margin-right: 2%;
    z-index: 7;

}
#poluicao
{
    width: 50%;
    float: right;
}
body{
    margin-top: 0;
}
#corpo{
    margin-top: 400px;
}
@media screen and (max-width:800px){
    body{
        margin:0%   
    }
    .cabecalho{
      height: 20%;
      font-size: small;
      padding: 50px;
    }
    #corpo{
        margin-top: 250px;
    }
    #video{
        
        width: 100%;
        float: none;
            }
            h2{
                text-align: center;
            }
h3{
    text-align: center;
    font-size: xx-large;
}
#poluicao{
    width: 100%;
    float: none;
}
.botao{
    visibility: hidden;
}
.texto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

}